.respuesta{
    margin: 10px;
    background-color: #8515a4;
    border: solid 2px #18bb97;
    position: relative;
}
.respuesta:hover {
    background-color: #600f77;
}

.boton{
  margin: auto;
  padding: auto;
  height: 50px;
}

.container{
    background-color: rgba(108, 16, 134, 0.4)!important;
    border: solid 4px #18bb97;
}

.container div{
    border-radius: 10px;
}
.bg-purple {
    background-color: #8515a4;
    border: solid 1px #18bb97;
}